<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/qr</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="hibernate.default_schema">public</property>
        <property name="connection.username">qr</property>
        <property name="connection.password">qr</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.search.default.directory_provider">filesystem</property>

        <mapping class="com.qr.DBController.dao.TDicPassType"/>
        <mapping class="com.qr.DBController.dao.TDicUserAttributes"/>
        <mapping class="com.qr.DBController.dao.TUserAttributes"/>
        <mapping class="com.qr.DBController.dao.TUserAuthorizationCode"/>
        <mapping class="com.qr.DBController.dao.TUserPass"/>
        <mapping class="com.qr.DBController.dao.TUserSessions"/>
        <mapping class="com.qr.DBController.dao.TUsers"/>
    </session-factory>
</hibernate-configuration>